{% load staticfiles %}
<html>
<head>
    <title>Czy pada?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-site-verification" content="mEZgMdxHRrCEIMtEiOQeV2e2d8uA2jl8n6UsuJe9pZU" />
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '783672071737765',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<style>
.middle{
    width:100%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
#inner{
    width:50%;
}

#czypada {
    font-size: 100;
    font-family: sans-serif;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
}
</style>
    <div class="middle">
        <div id="inner">
            <h1>Czy pada w <span id="miejsce"><span style="font-size:14">(odczytujemy Twoją lokalizację...)</span></span>?</h1>
            <p id="czypada" class="middle"></p>
        </div>
    </div>
    <div class="fb-like middle" data-href="https://www.facebook.com/czypada/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<div id="footer">
    <div class="middle"><a href="https://play.google.com/store/apps/details?id=com.citify">
        <img src="{% static 'img/logo.png' %}" alt="citify" style="height:45px">
    </a></div>
</div>
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script>
$(document).ready(function () {
    var miejsce = document.getElementById("miejsce");
    var czypada = document.getElementById("czypada");

    navigator.geolocation.getCurrentPosition(showPosition);
    function showPosition(position) {
        $.get('/api/czypada/w/?lat=' + position.coords.latitude + '&lon=' + position.coords.longitude,
            function (data, status) {
                miejsce.innerHTML = data.name;
                czypada.innerHTML = data.rain ? "TAK": "NIE";
            })
    }
});

</script>
</body>
</html>
